* {
  box-sizing: border-box;
}

:root {
  --color-primary: blueviolet;
  --color-primary-rgb: 138, 43, 226;
}

html {
  background-color: var(--color-primary);
}

body {
  margin: 0;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}
